.react-datepicker {
    border-radius: 28px !important;
    border: 1px solid #C3E3EE !important;
    box-shadow: 0 25px 50px -12px rgba(5, 50, 71, 0.15) !important;
    font-family: inherit !important;
    padding: 12px !important;
    background-color: #ffffff !important;
}

.react-datepicker__header {
    background-color: #ffffff !important;
    border-bottom: 1px solid #F1FBFF !important;
    padding-top: 15px !important;
}

.react-datepicker__current-month {
    color: #053247 !important;
    font-weight: 800 !important;
    text-transform: uppercase !important;
    letter-spacing: 0.05em !important;
}

.react-datepicker__day-name {
    color: #8BAFBF !important;
    font-weight: 700 !important;
}

.react-datepicker__day {
    color: #3B5862 !important;
    border-radius: 12px !important;
    transition: all 0.2s !important;
}

.react-datepicker__day:hover {
    background-color: #F1FBFF !important;
    color: #053247 !important;
}

.react-datepicker__day--selected {
    background-color: #053247 !important;
    color: #ffffff !important;
    box-shadow: 0 10px 15px -3px rgba(5, 50, 71, 0.3) !important;
}

.react-datepicker__navigation--next, .react-datepicker__navigation--previous {
    top: 20px !important;
}